@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Oswald:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  }

  .dark {
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --primary-foreground: 222.2 47.4% 1.2%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.navbar header {
  @apply xl:px-0;
}

input,
textarea {
  border-width: 0 !important;
}
input:focus,
textarea:focus {
  box-shadow: none !important;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

body > [data-overlay-container] {
  height: 100%;
}
pre {
  text-wrap: wrap;
}
pre code {
  border-radius: 0.4rem !important;
}

/* card */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }

  3% {
    opacity: 0.7;
    transform: scale(1.03);
  }

  3.6% {
    opacity: 0.8;
    transform: scale(1.05);
  }

  4.2% {
    opacity: 0.9;
    transform: scale(1.03);
  }

  6% {
    opacity: 1;
    transform: scale(1);
  }

  95% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

svg.card {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  overflow: visible;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.card .satellite {
  fill: #ffffff;
  stroke-width: 1.165;
  /* animation: fade-in 1s both; */
}

.card .pink.satellite {
  stroke: rgb(236 72 153);
}

.card .gray.satellite {
  stroke: #999;
}

.card .orbit {
  fill: none;
  stroke-width: 1.165;
  animation: grow 5s linear both infinite;
}

.card .orbits > g {
  animation: spin 60s linear both infinite;
}

.card .orbits > g:nth-child(2) {
  animation-duration: 80s;
}

.card .orbits > g:nth-child(3) {
  animation-duration: 100s;
}

.card .orbits > g:nth-child(4) {
  animation-duration: 120s;
}

.card stop {
  stop-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 786px) {
  svg.card {
    top: 0;
  }
}

@media (min-width: 800px) {
  .card .orbits > g:nth-child(2) {
    animation-duration: 120s;
  }

  .card .orbits > g:nth-child(3) {
    animation-duration: 150s;
  }

  .card .orbits > g:nth-child(4) {
    animation-duration: 180s;
  }
}

@media (prefers-color-scheme: dark) {
  .dark .card stop {
    stop-color: white;
  }

  .dark .card .satellite {
    fill: var(--nextui-background);
  }
}

@media (prefers-reduced-motion) {
  .card .satellite,
  .card .orbit,
  .card .orbits > g {
    animation: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.5s;
}

.animate-fade-in {
  animation: fade-in 0.5s;
}

video {
  @apply rounded-lg;
}

.spline {
  min-width: 300px !important;
  width: 100% !important;
}

.spline canvas {
  @apply mx-auto aspect-video w-full;
}

.card_hover:hover a img {
  -webkit-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}

.btn-conteiner {
  display: flex;
  --color-text: #db2777;
  --color-background: #353535;
  --color-outline: #db2777;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: .8rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  cursor: pointer;
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
}

.icon-arrow {
  position: relative;
}
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-25%);
}
/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

div[data-testid="grid-gallery-item"] {
  @apply shadow-lg bg-transparent
}

div[data-testid="grid-gallery-item"] {
  background-color: transparent !important;
}

div[data-testid="grid-gallery-item_viewport"] {
  @apply rounded-md w-full relative max-w-sm mx-auto h-auto
}

img[data-testid="grid-gallery-item_thumbnail"] {
  @apply w-full max-w-sm mx-auto h-auto relative z-0
}

.ReactGridGallery_tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  opacity: 0 !important;
  transition: all .3s ease-in-out;
  border-radius: 0.375rem;
}

.ReactGridGallery_tile:hover .ReactGridGallery_tile-overlay {
  @apply bg-black dark:bg-white shadow-lg !important
}

.ReactGridGallery_tile:hover .ReactGridGallery_tile-overlay {
  opacity: .2 !important;
  border-radius: 0.375rem;
}
.ReactGridGallery_tile-icon-bar {
  display: none;
}
.ReactGridGallery_tile-bottom-bar {
  z-index: 30 !important;
}
.ReactGridGallery_tile-bottom-bar div {
  @apply cursor-default !important
}
.ReactGridGallery_tile-bottom-bar div span {
  color:#db2777 !important;
  font-weight: 900 !important;
}

.containerArrow {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: auto;
  z-index: 200;
  display: flex;
  justify-content: center;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 2px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  width: 51%;
}

.chevron:before, .chevron:after {
  @apply bg-white absolute top-0 h-full
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  @apply text-white text-sm uppercase whitespace-nowrap opacity-25 block
}
.text {
  margin-top: 75px;
  /* margin-left: -30px; */
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#gallery {
  @apply scroll-mt-20
}

.ril-toolbar__item > span {
  display: none !important;
}